// sidebar
#main-outlet-wrapper {

  div[class=contents] {
    display: flex;
    flex-direction: unset;
    gap: 2rem;
  }

  .sidebar-wrapper {
    margin: 30px 0 50px;
    background-color: var(--secondary);
    border-radius: 1em;
    top: calc(var(--header-offset) + 30px);
    height: calc(100vh - (var(--header-offset) + 80px));
    box-shadow:
      0 24px 40px rgb(0, 0, 0, 0.07),
      0 10.8529px 24.1177px rgb(0, 0, 0, 0.0456112),
      0 4.50776px 10.0172px rgb(0, 0, 0, 0.035),
      0 1.63037px 3.62304px rgb(0, 0, 0, 0.0243888);
  }

  .sidebar-footer-wrapper {
    background: var(--secondary);
  }

  div[class="contents"] {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
  }

  .categories-and-latest {
    width: 60%;
  }

  .custom-category-boxes-container {
    width: 40%;
    padding-top: 42px;
    justify-content: start;
  }

  .custom-category-boxes:not(.above-discovery-categories-outlet) {
    grid-template: unset;
    grid-gap: 1rem;
  }

  .latest-topic-list-item .topic-poster {
    display: none;
  }

  .custom-category-boxes:not(.above-discovery-categories-outlet) .category-box {
    border-radius: 4px;
    box-shadow: unset;
  }

  .custom-category-boxes:not(.above-discovery-categories-outlet) .category-box .category-box-inner {
    width: 100%;
    display: flex;
    column-gap: .5rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }

  .custom-category-boxes:not(.above-discovery-categories-outlet) .category-box .category-box-inner .category-logo {
    background-color: unset !important;
    margin-left: .5rem;
    margin-right: .5rem;
    width: 3rem;
    height: auto;
    min-height: unset;
    display: flex;
  }

  .custom-category-boxes:not(.above-discovery-categories-outlet) .category-box .category-box-inner .category-logo.no-logo-present {
    margin-left: .5rem;
    margin-right: .5rem;
    width: 3rem;
    height: 3rem;
    min-height: unset;
  }

  .custom-category-boxes:not(.above-discovery-categories-outlet) .category-box .category-box-inner .category-logo.no-logo-present .category-abbreviation {
    font-size: 1.5em;
  }

  .custom-category-boxes:not(.above-discovery-categories-outlet) .category-box .category-box-inner .category-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: calc(100% - 4rem);
    padding-right: 1rem;
  }

  .custom-category-boxes:not(.above-discovery-categories-outlet) .category-box-heading {
    margin-bottom: 0px;
  }

  .custom-category-boxes:not(.above-discovery-categories-outlet) h3 {
    display: block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

}

body.has-sidebar-page {
  #main-outlet-wrapper {
    padding-left: 8px;
  }

  #main-outlet {
    max-width: unset;
  }
}

.desktop-view .sidebar-footer-wrapper .sidebar-footer-container::before {
  background: linear-gradient(to bottom, transparent, rgb(var(--secondary), 1));
  // test
}
