@import "showcased-categories";
@import "chat-desktop";
@import "sidebar-desktop";

body {
  --d-max-width: 1200px;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    --d-max-width: 1100px;
  }
}

@media (min-width: 1441px) and (max-width: 1919px) {
  body {
    --d-max-width: 1200px;
  }
}

@media (min-width: 1920px) {
  body {
    --d-max-width: 1400px;
  }
}

#reply-control:not(.fullscreen).hide-preview {
    left: 0 !important;
    max-width: 1000px;
    margin: auto !important;
}

#reply-control.open {
    --min-height: 600px; 
}

#reply-control.hide-preview {
    max-width: 1200px;
}

.welcome-banner__title {
    margin-bottom: 1.5rem;
}

.sidebar-wrapper .sidebar-sections {
    padding: 1rem;
}

.menu-panel.drop-down {
    margin-top: .5rem;
}

.select-kit .select-kit-header .selected-name {
    padding: 0 .5rem;
}

.nav-pills>li>a, .nav-pills>li button {
    padding: .5rem 1rem;
}

html body #main-outlet {
    max-width: 100%;
}